html {
    box-sizing: border-box;
    /* https://css-tricks.com/box-sizing/ */
    background: #eee;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/************************************************
                        BODY
*************************************************/

body {
    max-width: 30em;
    margin: 1em auto;
    background: #fff;
    border-radius: 1em;
}


/************************************************
                        NAV
*************************************************/

nav {
    position: fixed;
    background: rgb(0, 43, 95);
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

nav ul a {
    /*20px*/
    margin: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'acumin-pro-semi-condensed', sans-serif;
    /*20px*/
    font-size: 1.25em;
    font-weight: bold;
    background-color: rgb(0, 43, 95);
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    line-height: 32px;
}

nav ul a:active {
    color: rgb(246, 217, 0);
}

nav ul a:focus {
    border: 1px solid;
    color: rgb(246, 217, 0);
}


nav ul a:hover {
    color: rgb(246, 217, 0);
}




/************************************************
                        MAIN
*************************************************/

main {
    padding: 1em;
}



/************************************************
                        TEKST
*************************************************/

h1 {
    font-family: 'acumin-pro-condensed', sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    margin-top: 3.0em;
}

h2 {
    font-family: 'acumin-pro-condensed', sans-serif;
    margin-bottom: 2.3em;
    margin-top: 20px;
    width: 100%;
}

p {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.tekstonderh1 {
    font-size: 16px;
    font-family: 'calibri', sans-serif;
}




/************************************************
                        IMG
*************************************************/


.posterimg {
    width: 100%;
}


/************************************************
                   div
*************************************************/
.containerh2enhart {
    display: flex;
}



/************************************************
                   HEART TOGGLE
*************************************************/


.blackhearts {
    width: 20%;
    height: 20%;
}

.redhart {
    fill: red;
}

/*

.emoji-toggle {
    position: relative;
    width: 60px;
    margin: 25px auto;
}

.emoji-toggle .well {
    display: block;
    background: #eee;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.emoji-toggle .toggle {
    opacity: 0;
    border: 0;
    outline: none;
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.emoji-toggle .toggle ~ .emoji:before {
    content: "🖤";
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 40px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.emoji-toggle .toggle:checked ~ .emoji:before {
    left: 100%;
    margin-left: -1em;

}

.emoji-toggle .toggle ~ label {
    white-space: nowrap;
}

.emoji-toggle .toggle ~ label:before {
    position: absolute;
    right: 100%;
    margin-right: 5px;
    top: 0;
}

.emoji-toggle .toggle ~ label:after {
    position: absolute;
    left: 100%;
    margin-left: 5px;
    top: 0;
}

.emoji-heart .toggle ~ .emoji:before {
    content: "🖤";
}

.emoji-heart .toggle:checked ~ .emoji:before {
    content: "❤️";
}

.heart-item {
    position: absolute;
    height: 24px;
    width: 24px;
    top: -10px;
    right: -10px;
}

&:before {
    content: '1';
    display: block;
    line-height: 24px;
    height: 24px;
    width: 24px;
    font-size: 12px;
    font-weight: 600;
    background: #2bd156;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.heart-item.active {
    position: relative;
    height: 24px;
    width: 24px;
    top: 22px;
    right: 335px;
}
*/
