*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 128, 189);
}

h1 {
    font-family: 'Sen', sans-serif;
    text-align: center;
    color: white;
    margin: 20px;
}

.carousel {
    position: relative;
    padding: 1em;
    background: rgb(245, 211, 65);
}

.carousel ul {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1em;
    background: rgb(238, 62, 64);
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: row;

    overflow: scroll;
}

.carousel > ul li {
    scroll-snap-align: center;
    padding: 1em;
    background-color: white;
}

.carousel ul li img {
    height: 28em;
}

.carousel button {
    position: absolute;
    width: 4rem;
    height: 4rem;

    top: calc(50% - 2em);
    font-size: 1em;
    background: rgb(1, 161, 219);

    border: none;
    border-radius: 50%;
}

.carousel button:focus {
    box-shadow: 0 0 .25em .25em white;
    outline: none;
}

.carousel button.vorige {
    left: 1em;
}


.carousel button.volgende {
    right: 1em;
}


.bol {
    width: 2rem;
    height: 2rem;
    margin-left: 3px;
    background-color: white;
    border-radius: 50%;
}

#navbolletjes {
    justify-content: center;
}


.zwart {
    background-color: rgb(245, 211, 65);
    color: rgb(245, 211, 65);
}
